<!DOCTYPE html>

<html ng-app="RegApp">
<head>
  <meta charset="utf-8">
  <title>Member Registration</title>
  <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body ng-cloak ng-controller="RegAppCtrl as ctrl">
  
  <!-- Test code for server side propagation -->
  <!-- <div>
    <h1>{{ctrl.helloworld}}</h1>
  </div> -->

  <!-- Form Container -->
  <div class="container">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <h1 class="text-center">Member Registration</h1>
      <hr>
      <form name ="registrationForm" ng-submit="registrationForm.$valid && ctrl.registerMember()" novalidate>

        <div class="form-group">
          <label for="email">Email address</label>
          <input id="email" name="email" type="email" placeholder="you@domain.com" class="form-control" ng-model="ctrl.member.email" required />
          
          <!-- Validaton -->
          <div class="validation" data-ng-show="registrationForm.email.$touched || registrationForm.$submitted">
            <div data-ng-show="registrationForm.email.$error.required">
              <span class="glyphicon glyphicon-alert"></span>
              Email is mandatory
            </div>
            <div data-ng-show="registrationForm.email.$error.email">
              <span class="glyphicon glyphicon-alert"></span>
              Email is invalid
            </div>
          </div>
          
      </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input id="password" name="password" type="password" class="form-control" ng-model="ctrl.member.password" required minlength="8" ng-pattern="/^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/" />
          
          <!-- Validation -->
          <div class="validation" data-ng-show="registrationForm.password.$touched || registrationForm.$submitted">
            <div data-ng-show="registrationForm.password.$error.required">
              <span class="glyphicon glyphicon-alert"></span>
              Password is required.
            </div>
            <div data-ng-show="registrationForm.password.$error.minlength">
              <span class="glyphicon glyphicon-alert"></span>
              Password must be at least 8 characters long.
            </div>
            <div data-ng-show="registrationForm.password.$error.pattern">
              <span class="glyphicon glyphicon-alert"></span>
              Password must include a number, a special character (@, #, $) and both upper and lower cases.
            </div>
          </div>
        </div>
        

        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input id="confirmPassword" name="confirmPassword" type="password" class="form-control" ng-model="ctrl.member.confirmPassword" required />

          <!-- Validation -->
          <div class="validation" data-ng-show="registrationForm.confirmPassword.$touched || registrationForm.$submitted" >
            <div data-ng-show="registrationForm.confirmPassword.$error.required">
              <span class="glyphicon glyphicon-alert"></span>
              Password is required
            </div>

            <div data-ng-show="ctrl.member.password != ctrl.member.confirmPassword">
              <span class="glyphicon glyphicon-alert"></span>
              Password do not match
            </div>
          </div>
        </div>  
        
            
        <div class="form-group">
          <label for="username">Name</label>
          <input id="username" name="username" type="text" class="form-control" ng-model="ctrl.member.username" required />

          <!-- Validation -->
          <div class="validation" data-ng-show="registrationForm.username.$touched || registrationForm.$submitted">
            <div data-ng-show="registrationForm.username.$error.required">
              <span class="glyphicon glyphicon-alert"></span>
              Your username is required.
            </div>
          </div>          
        </div>
        

        <div class="form-group">
          <label for="gender">Gender</label>
          <br/>
          <input ng-model="ctrl.member.gender" id="gender" name="gender" type="radio" ng-model="ctrl.member.gender" value="M" /> Male
          <br/>
          <input ng-model="ctrl.member.gender" id="gender" name="gender" type="radio" ng-model="ctrl.member.gender" value="F" /> Female
          <br/>
          <br/>  

        <div class="form-group">
          <label for="dateOfBirth">Date of Birth</label>
          <input id="dateOfBirth" name="dateOfBirth" type="date" class="form-control" ng-model="ctrl.member.dateOfBirth" required />

          <!-- Validation ++ -->
          <div class="validation" data-ng-show="registrationForm.dateOfBirth.$touched || registrationForm.$submitted">
            <div data-ng-show="registrationForm.dateOfBirth.$error.required">
               <span class="glyphicon glyphicon-alert"></span> 
               Date of Birth is mandatory.
            </div>
            <div data-ng-show="registrationForm.$submitted && ctrl.ageValid(ctrl.member.dateOfBirth) == false">
               <span class="glyphicon glyphicon-alert"></span> 
               You must be at least 18 years old.
            </div>
          </div>
        </div>
        
        
        <div class="form-group">
          <label for="address">Address</label>
          <input id="address" name="address" type="text" class="form-control" ng-model="ctrl.member.address" required />
          
          <!-- Standard Validation -->
          <div class="validation" data-ng-show="registrationForm.address.$touched || registrationForm.$submitted">
            <div data-ng-show="registrationForm.address.$error.required">
              <span class="glyphicon glyphicon-alert"></span>
              Address is required.
            </div>
          </div>
        </div>
        

        <div class="form-group">
          <label for="nationality">Nationality</label>
          <select ng-model="ctrl.member.nationality" class="form-control" id="nationality" required >
            <option value="1">Singaporean</option>
            <option value="2">Malaysian</option>
            <option value="3">Thai</option>
          </select>
        </div>
        
      
        <div class="form-group">
          <label for="contactNumber">Contact number</label>
          <input id="contactNumber" name="contactNumber" type="text" class="form-control" ng-model="ctrl.member.contactNumber" minlength="8" ng-pattern="/\d\d\d\d\d\d\d\d/" required />
          <!-- ^(0-9) -->

          <!-- Validation+ -->
          <div class="validation" data-ng-show="registrationForm.contactNumber.$touched || registrationForm.$submitted">
            <div data-ng-show="registrationForm.contactNumber.$error.required">
              <span class="glyphicon glyphicon-alert"></span>
              Contact number is required.
            </div>
            <div data-ng-show="registrationForm.contactNumber.$error.pattern">
              <span class="glyphicon glyphicon-alert"></span>
              Invalid contact number
            </div>
          </div>
        </div>
        
      
        <div class="form-group">
            <hr/>
            <input id="submit" name="submit" type="submit" class="btn btn-success" />
            <div ng-show="true">
              {{ctrl.thanks}}
            </div>
        </div>

      </form> <!-- Form: It ends here! -->

    </div> <!-- End of bootstrap div -->

  </div> <!-- End of container div -->

  


  <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
  <!-- <script src="js/index.js"></script> -->
  <script src="app/app.module.js"></script>
  <script src="app/registration.controller.js"></script>
</body>
</html>